<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Test thu react</title>
</head>

<body>
    <div id="App"></div>

    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/@babel/standalone@7.9.4/babel.min.js"></script>
    <script src="http://code.jquery.com/jquery-2.2.2.min.js"></script>
    <script type="text/babel" src="templates/users.js"></script>
</body>

</html>